shapely
scikit-image
pyclipper
lmdb
tqdm
numpy
visualdl
python-Levenshtein
opencv-contrib-python==4.4.0.46
cython
lxml
premailer
openpyxl
# streamlit

matplotlib

six
terminaltables

asynctest
codecov
flake8
interrogate
isort
# Note: used for kwarray.group_items, this may be ported to mmcv in the future.
kwarray
pytest
ubelt
xdoctest
yapf
paddlepaddle
nltk
lmdb
editdistance
opencv-python
requests
SharedArray
tqdm
pyclipper
imgaug
Shapely
Polygon3
scikit-image
prettytable
transformers
seqeval
Levenshtein
networkx
bs4
distance
apted
lxml
jsonlines